.events-page {
    height: 100%;

    svg {
        width: 18px;
        height: 18px;
        margin: 0 10px;
    }
    
    label {
        font-family: 'rubikmedium';
        margin: 20px 0 15px;
    }
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        border: 0;
        font-family: 'rubikmedium';
        font-size: 1em;
        letter-spacing: 0.7px;
    
        &.cta {
            background-color: #d8875c;
            color: #ffffff;
            text-transform: uppercase;
            height: 50px;
            padding: 0 20px;
            min-width: 80px;
            display: inline-flex;
            align-items: center;
            font-family: 'rubikmedium'
        }
        
        &.btn-cancel {
            background-color: #4A4A4A;
            color: #ffffff;
        }
        
        &.btn-close {
            background: transparent;
            align-self: flex-start;  
            color: #ffffff;
            height: 40px;
            text-transform: capitalize;
            font-family: 'rubikmedium';
        }
    }
    
    input {
        height: 50px;
        padding: 0 25px;
        background-color: #f6f6f6;
        border: 0;
        outline: none;
        font-family: 'rubiklight';
        font-size: 13px;
        box-sizing: border-box;
        
        &:invalid {
            box-shadow: none;
        }
    }
      
    form {
        width: 100%;
    }

    .topbar-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        background-color: #0A1026;
        color: #ffffff;
        box-sizing: border-box;
  
        .left-container {
            margin: 0;
            text-transform: uppercase;
            // font-size: 20px;
            width: 25%;
            padding-left: 30px;
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #ffffff;
            text-decoration: none;
            font-family: 'rubikmedium';
            text-transform: uppercase;
        }
  
        .middle-container {
            width: 100%;
            display: flex;
            padding: 0 0 0 30px;
            justify-content: flex-end;
            height: 100%;
            align-items: center;
    
            .btn-search {
                z-index: 2; 
                height: 100%; 
                position: relative;
                padding: 0 30px;
                background-color: #0A1026;
            }
    
            .search-box {
                border: 0;
                border-bottom: 1px solid #ffffff;
                background: transparent;
                outline: 0;
                width: 200px;
                color: #ffffff;
                padding: 5px 0;
                height: auto;
                transition: all 0.3s linear;
                height: 25px;
                transform-origin: right;
    
                &:-webkit-autofill,
                &:-webkit-autofill:hover, 
                &:-webkit-autofill:focus, 
                &:-webkit-autofill:active  {
                -webkit-box-shadow: 0 0 0 30px #0A1026 inset !important;
                -webkit-text-fill-color: #ffffff;
                }
            }
    
            button {
                background-color: transparent;
                color: #ffffff;
                fill: #ffffff;
            }
        }
  
        .right-container {
            width: 25%;
            max-width: 240px;
            height: 100%;
    
            button,
            a {
                width: 100%;
                height: 100%;
                background-color: #d8875c;
                color: #ffffff;
                fill: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'rubikmedium';
                letter-spacing: 0.7px;
                padding: 0;
            }
        }
    }


    .view-wrapper {
        width: 100%;
        // height: 100%;
        height: calc(100% - 55px);
        padding: 50px 30px;
        box-sizing: border-box;
        overflow-y: auto;
        animation: fade 0.15s linear;
        position: relative;
  
        .view-container {
            max-width: 1600px;
            margin: 0 auto;
        }
    }

    .row {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        background-color: #ffffff;
        margin-bottom: 20px;
    
        padding: 0 30px;
        height: 70px;
        box-sizing: border-box;
        position: relative;
    
        div {
            display: flex;
            width: 50%;
            justify-content: center;
        
            &.title {
                width: 100%;
                justify-content: left;
                font-family: "rubikmedium";
            }
        
            &.wrapped {
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                text-align: center;
                overflow: hidden;
            }
        
            &.options {
                width: 25%;
                justify-content: flex-end;
            }
        
            a {
                color: #192140;
                font-family: "rubikmedium";
                text-decoration: none;
            }
        }
    
        .options {
            > button {
                padding: 0;
                background-color: transparent;
                border: 0;
        
                svg {
                margin: 0;
                }
            }
        
            .menu {
                position: absolute;
                top: 100%;
                width: 140px;
                right: 0;
                background-color: #ffffff;
                display: block;
                padding: 10px 0;
                box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.15);
                z-index: 3;
        
                > * {
                    display: flex;
                    width: 100%;
                    text-align: left;
                    padding: 10px 30px;
                    justify-content: space-between;
                    text-transform: none;
                    font-family: "rubiklight";
                    box-sizing: border-box;
                    align-items: center;
                    background-color: transparent;
            
                    svg {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }

    .headers {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 20px;
    
        div {
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: center;
            font-family: "rubikmedium";
            text-transform: uppercase;
            color: #adadad;
            font-size: 13px;
            cursor: pointer;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
        
            .decorator {
                margin-left: 10px;
                width: 10px;
                height: 8px;
                fill: #53494d;
                transition: transform 0.2s linear;
        
                &.reverse {
                    transform: rotateX(-180deg);
                }
            }
        
            &:first-child {
                width: 100%;
                justify-content: left;
            }
        
            &:last-child {
                width: 25%;
            }
        }
    }

    .overlay {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 200;
        background-color: rgba(0, 0, 0, 0.85);
        overflow: auto;
        padding: 20px 0 0;
        box-sizing: border-box;
      
        > div,
        > form {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 570px;
          max-width: 100%;
          margin: 0 auto;
          min-height: 100%;
        }
      
        .form-wrapper {
          
          .form-container {
            background-color: #ffffff;
            padding: 20px 30px;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
      
            .last-modified {
              margin: 30px auto 10px;
              
              span {
                font-family: 'rubikmedium';
              }
            }
      
            > div {
              &:last-child {
                margin-bottom: 20px;
              }
            } 
          }
      
          .cta {
            width: 100%;
          }
        }
      
        .overlay-title {
          color: #ffffff;
          margin-bottom: 30px;
          font-size: 18px;
          font-family: 'rubikmedium';
          display: flex;
          align-items: center;
          justify-content: center;
          
          .icon {
            margin-right: 10px;
            fill: #ffffff;
          }
        }
      
        .overlay-content {
          background-color: #ffffff;
          padding: 40px;
          text-align: center;
          width: 100%;
          box-sizing: border-box;
        }
      
        .buttons-container {
          display: flex;
          margin: 30px 0;
      
          button {
            margin: 0 15px;
            width: 140px;
      
            &.full {
              margin: 0;
              width: 100%;
            }
          }
        }
    }

    .transparent-overlay {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: 990px) {
        .topbar-container {
          .left-container  {
            width: 100%;
          }
          
          .middle-container {
            width: 100%;
            justify-content: left;
            position: relative;
  
            .search-container {
              width: 350px;
              background-color: #0A1026;
              display: flex;
              align-items: center;
              position: absolute;
              bottom: calc(-100% + 1px);
              left: 0;
              height: 55px;
              padding: 0 20px;
              box-sizing: border-box;
              border-bottom-right-radius: 8px;
            }
  
            .search-box {
              width: 100%;
            }
          }
      
          .right-container {
            width: 100%;
            max-width: 50%;
          }
        }

        .row {
            > div:not(:first-child):not(:last-child) {
                display: none;
            }
        }

        .headers {
            > div:not(:first-child) {
                display: none;
            }
        }

        .overlay {
            padding: 20px 20px 0;
        }
    }


    .fade-enter-active {
        animation: fade 0.15s linear;
    }
    
    .fade-leave-active {
        animation: fade 0.15s linear reverse;
    }
    
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}